.hackathon-cards{
    display: grid;
    column-gap: 5rem;
    row-gap: 4rem;
    grid-template-columns: auto auto auto;
    margin-top: 4rem;
}

.bottom-title{
    position: absolute;
    background-image: linear-gradient(to top, rgb(0, 0, 0) , rgba(0, 0, 0, 0.518), rgba(0, 0, 0, 0));
    width: 100%;
    height: 24%;
    color: white;
    display: flex;
    bottom: 0%;
    padding-left: 1.5rem;
    border-radius: 0rem 0rem 1rem 1rem;
}

.bottom-title p{
    font-family: "Medium";
    font-size: 1.25rem;
}

@media only screen and (max-width: 640px) {
    .hackathon-cards{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        column-gap: 0rem;
        row-gap: 2rem;
    }
}

@media only screen and (min-width: 640px) and (max-width: 992px) {
    .hackathon-cards{
        display: grid;
        column-gap: 4rem;
        row-gap: 2rem;
        grid-template-columns: auto auto;
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 992px) {
    .hackathon-cards{
        display: grid;
        column-gap: 5rem;
        row-gap: 4rem;
        grid-template-columns: auto auto auto;
        margin-top: 4rem;
    }
}