.project-cards{
    display: grid;
    column-gap: 5rem;
    row-gap: 4rem;
    grid-template-columns: auto auto auto;
}

.white-fade{
    z-index: 4;
    background-color: white;
    width: 99dvw;
    height: 36dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 480px){
    .project-cards{
        display: flex;
        flex-direction: column;
        column-gap: 0rem;
        row-gap: 2rem;
    }
    .white-fade{
        width: 0;
        height: 12dvh;
    }
}