.project-cards{
    display: grid;
    column-gap: 5rem;
    row-gap: 4rem;
    grid-template-columns: auto auto auto;
}

.white-fade{
    z-index: 4;
    background-color: white;
    width: 99dvw;
    height: 28dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
}