.sub-text{
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.txt-medium {
    font-family: "Medium";
}

.my-name{
    position: absolute;
    font-family: "Semibold";
    font-size: 4rem;
    top: 44dvh;
    margin: auto;
    color: white;
}

.main-frame{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-frame img{
    position: absolute;
    height: 44dvw;
    bottom: -72dvh;
}

.back-rec{
    z-index: 0;
    position: absolute;
    height: 56dvw;
    width: 56dvw;
    background-color: #0180FE;
    /* transform: rotate(-30deg); */
    border-radius: 12dvw;

    animation-name: my_rotate;
  -webkit-animation-name: my_rotate;
  animation-duration:8s;
  -webkit-animation-duration:8s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

/* .white-grad{
    position: absolute;
    height: 16dvh;
    width: 80dvw;
    background-color: white;
    top: 60dvh;
} */

@-webkit-keyframes my_rotate{

    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
   
}
   
@keyframes my_rotate{

    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}

}

@media only screen and (max-width: 640px) {
    .sub-text{
        font-size: 2.5rem;
        display: flex;
    }
    .main-frame img{
        height: 88dvw;
        bottom: -60dvh;
    }

    .my-name{
        font-size: 2.5rem;
        text-align: center;
        top: 44dvh;
        margin: auto;
        color: white;
    }

    .back-rec{
        bottom: -52dvh;
        height: 68dvw;
        width: 68dvw;
    }

    /* .white-grad{
        height: 16dvh;
        width: 98dvw;
        background-color: white;
        top: 56dvh;
    } */
  }
  
  @media only screen and (min-width: 640px) and (max-width: 992px) {
    .sub-text{
        font-size: 2.5rem;
        display: flex;
    }
    .main-frame img{
        height: 60dvh;
        bottom: -68dvh;
    }

    .my-name{
        font-size: 3rem;
        text-align: center;
        top: 52dvh;
        margin: auto;
        color: white;
    }
    .back-rec{
        bottom: -60dvh;
        height: 68dvw;
        width: 68dvw;
    }

  }
  
  @media only screen and (min-width: 992px) {
    .back-rec{
        bottom: -100dvh;
    }
  }
  