* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Regular";
  cursor: url('./assets/custom_cursor.svg'), auto;
}

@font-face {
  font-family: "Regular"; 
  src: local("ClashDisplay-Regular"),
    url("./fonts/ClashDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Medium"; 
  src: local("ClashDisplay-Medium"),
    url("./fonts/ClashDisplay-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Semibold"; 
  src: local("ClashDisplay-Semibold"),
    url("./fonts/ClashDisplay-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Bold"; 
  src: local("ClashDisplay-Bold"),
    url("./fonts/ClashDisplay-Bold.ttf") format("truetype");
}

.gen-body{
  height: 100dvh;
  margin: 0rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gen-body-home{
  height: 100dvh;
  margin: 0rem 5rem;
  display: flex;
  flex-direction: column;
}

.title{
  font-family: "Semibold";
  font-size: 4rem;
  margin-top: 3rem;
}

.project-card{
  position: relative;
  height: max-content;
  width: 25dvw;
}

.card-img{
  width: 100%;
}

.view-button{
  background-color: white;
  position: absolute;
  display: flex;
  padding: 0.5rem 0.75rem;
  right: 8%;
  bottom: 12%;
  color: #0180FE;
  border-radius: 0.5rem;
  text-decoration: none;
  filter: drop-shadow(rgba(0, 0, 0, 0.158) 0rem 0rem 2px);
}

.view-button p{
  margin-right: 0.5rem;
}

.view-button:hover{
  color: black;
}

.project-card img{
  border-radius: 1rem;
}

@media only screen and (max-width: 640px) {
  .title{
    font-size: 2rem;
  }
  .project-card{
    width: 100%;
    margin: 0px;
  }
  .gen-body{
    height: fit-content;
    margin: 0rem 2.5rem;
  }
  .gen-body-home{
    height: 80dvh;
    margin: 5rem 2.5rem 0rem 2.5rem;
  }
}

@media only screen and (min-width: 640px) and (max-width: 992px) {
  .card-img{
    width: 36dvw;
  }
  .title{
    font-size: 2.5rem;
  }
  .project-card{
    width: 100%;
    margin: 0px;
  }
  .gen-body{
    height: fit-content;
    margin: 0rem 2.5rem;
  }
  .gen-body-home{
    height: 88dvh;
  }
}

@media only screen and (min-width: 992px) {
  .title{
    font-size: 3rem;
  }
  .project-card{
    width: 100%;
    margin: 0px;
  }
  .gen-body{
    height: fit-content;
    margin: 0rem 2.5rem;
  }
  .gen-body-home{
    height: 80dvh;
    margin: 5rem 2.5rem 0rem 2.5rem;
  }
  .card-img{
    width: 24dvw;
  }
}

