* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Regular";
  cursor: url('./assets/custom_cursor.svg'), auto;
}

@font-face {
  font-family: "Regular"; 
  src: local("ClashDisplay-Regular"),
    url("./fonts/ClashDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Medium"; 
  src: local("ClashDisplay-Medium"),
    url("./fonts/ClashDisplay-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Semibold"; 
  src: local("ClashDisplay-Semibold"),
    url("./fonts/ClashDisplay-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Bold"; 
  src: local("ClashDisplay-Bold"),
    url("./fonts/ClashDisplay-Bold.ttf") format("truetype");
}

.gen-body{
  height: 100dvh;
  margin: 0rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gen-body-home{
  height: 100dvh;
  margin: 0rem 5rem;
  display: flex;
  flex-direction: column;
}

.title{
  font-family: "Semibold";
  font-size: 4rem;
  margin-top: 3rem;
}

@media (max-width: 480px){
  .title{
    font-size: 2rem;
  }
}